 <div class="container" >
    
   <div class="row g-1">

     <div>Débito</div>
     
     <div class="col-sm-4 list-group " id="list-tab" role="tablist">
       <button type="button" class="btn option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/3fc410d4-a5ea-424c-8ef1-4847fc23723e">
         <div>
           <span>Visa</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/bdeb3d59-e42f-48a7-ae63-d064e3ef9cab">
         <div>
           <span>Hipercard</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/b2a613b7-f9de-424b-9ee8-35c4f692f771">
         <div>
           <span>Amex</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/ca34f400-9ba1-49c9-9f08-d269f97fd678">
         <div>
           <span>Mastercard</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/70764a4a-84bb-4697-82e2-7e63d88f4aa3">
         <div>
           <span>Elo</span>
         </div>
       </button>
     </div>
     <div class="col-sm-4"></div>
   </div>

   <div class="row g-1">

     <div>Crédito</div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn  option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/bdeb3d59-e42f-48a7-ae63-d064e3ef9cab">
         <div>
           <span>Hipercard</span>
         </div>
       </button>
     </div>
     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn  option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/ca34f400-9ba1-49c9-9f08-d269f97fd678">
         <div>
           <span>Mastercard</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn  option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/3fc410d4-a5ea-424c-8ef1-4847fc23723e">
         <div>
           <span>Visa</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn  option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/70764a4a-84bb-4697-82e2-7e63d88f4aa3">
         <div>
           <span>Elo</span>
         </div>
       </button>
     </div>

     <div class="col-sm-4 list-group" id="list-tab" role="tablist">
       <button type="button" class="btn  option-button list-group-item list-group-item-action">
         <img class="option-button__icon"
           src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/b2a613b7-f9de-424b-9ee8-35c4f692f771">
         <div>
           <span>Amex</span>
         </div>
       </button>
     </div>



   </div>

   <div class="row g-4">
     <div class="col-sm-4">
       <div>Dinheiro</div>

       <div class="list-group" id="list-tab" role="tablist">
         <button type="button" class="btn option-button list-group-item-action">
           <img class="option-button__icon"
             src="https://static-images.ifood.com.br/image/upload/t_thumbnail/icones/payments/brands/3fc410d4-a5ea-424c-8ef1-4847fc23723e">
           <div>
             <span>Dinheiro</span>
           </div>
         </button>
       </div>

     </div>
   </div>
<br>
   <div class="row justify-content-md-center">
    <div class="d-grid gap-2 col-6 mx-auto">    
    <button routerLink="/inicio" class="btn btn-danger" (click)="enviarPedido()">Enviar Pedido</button> 
    <!-- href="https://api.whatsapp.com/send/?phone=55011961653010&text=teste"  target="_blank" -->
</div>
   </div>

 </div>
 <br>
