<header>


  <nav class="navbar fixed-top navbar-expand-lg bg-danger text-white shadow-sm" >
  <div class="container-fluid">
    <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
    <a class="navbar-brand text-white" href="#">Taker Pizzaria</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">        
      </ul>      
      <button routerLink="cart" class="btn btn-danger">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>
    </div>
  </div>
</nav>
<!-- 
  <div data-v-60d3635c="" id="nav"style="padding-top: 70px">
    <div data-v-60d3635c="" class="mycontainer">
      <ul data-v-60d3635c="">
        <li data-v-60d3635c="" class=""><a data-v-60d3635c="" 
            data-synth="category-fdfa14c1-8586-4aa9-bd2f-360a01f5f612" class="lg-cond">Promoções 😍</a></li>
        <li data-v-60d3635c="" class="active"><a data-v-60d3635c="" href="javascript: void(0)"
            data-synth="category-d34937e0-1176-4a13-823a-ac3110c68454" class="lg-cond">Pizzas 🍕</a></li>
        <li data-v-60d3635c="" class=""><a data-v-60d3635c="" href="javascript: void(0)"
            data-synth="category-3c1c4ae6-cb57-458c-a4dc-cef91dc88f65" class="lg-cond">​​Entradas😎</a></li>
        <li data-v-60d3635c="" class=""><a data-v-60d3635c="" href="javascript: void(0)"
            data-synth="category-8af1732c-3c02-42c2-934d-19212c4e00de" class="lg-cond">Sobremesas😋</a></li>
        <li data-v-60d3635c="" class=""><a data-v-60d3635c="" href="javascript: void(0)"
            data-synth="category-9e7e1e5d-5227-4fbe-a1e3-834b0ee537fd" class="lg-cond">Bebidas🥤</a></li>
      </ul>
      <div data-v-60d3635c="" class="flex"></div>
    </div>
  </div> -->
</header>
